<div class="side-image">
  <div class="images-wrapper"></div>
    <div class="side-image-content">
      <div class="sub-page">
      <h4>Naus FPV</h4>
      <h1>What is FPV?</h1>
      <p><b>First-person view (FPV)</b>, is a method used to control a radio-controlled vehicle from the driver or pilot's view point. Most commonly it is used to pilot a radio-controlled aircraft or in my case, FPV drone racing!  This is a sport where participants control "drones" (typically small radio-controlled aircraft or quadcopters), equipped with cameras while wearing head-mounted displays showing the live stream camera feed from the drones.</p>

      <hr>

      <h4>FPV Blog</h4><br><br>

      <div class="comment">
        <div class="comment-image">
          <img src="../assets/img/fpv/fpvblog_1.jpg">
        </div>
        <div class="comment-content">
          <h1>How I got started.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
          <p class="comment-detail">Oct. 15 2016 | -Naus</p>
        </div>
      </div>

      <div class="comment">
        <div class="comment-image">
          <img src="../assets/img/fpv/fpvblog_2.jpg">
        </div>
        <div class="comment-content">
          <h1>Learning Curve.</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
          <p class="comment-detail">Oct. 17 2016 | -Naus</p>
        </div>
      </div>

      <hr>

      <h4>FPV Gallery</h4><br><br>

      <div class="grid-items">
        <a href="javascript:void(0)" class="grid-item grid-item-fpvgallery">
          <img src="../assets/img/ndlogo.png" alt="nausdesign logo">
          <h1>FPV Images</h1>
          <p>Pictures Of My Small Fleet.</p>
        </a>
        <a href="http://nausdesign.com" target="_blank" class="grid-item grid-item-nausyoutube">
          <img src="../assets/img/ndlogo.png" alt="nausdesign logo">
          <h1>FPV Videos</h1>
         <p>Up To Date Videos on YouTube!</p>
       </a>
       <a href="javascript:void(0)" class="grid-item grid-item-nausinstagram">
         <img src="../assets/img/ndlogo.png" alt="nausdesign logo">
         <h1>Naus Instagram</h1>
         <p>Really Cool Pictures.</p>
       </a>
      </div>
    </div>

  </div>
</div>
