
<div class="side-image">
  <div class="images-wrapper">
    <div class="topBox">
      <img src="assets/img/sideLogo.png" alt="profile image">
      <h4>Hi, my name is Chris Nauslar (The Naus) and this site is deticated to anyone interrested in FPV Multi Rotors, Computers, and Web Development.  I am excited to share my hobbies with you and hope you enjoy the content.  I only have one rule, and that is to use this site and any of my content to help others get into an exciting hobby they enjoy. </h4>
    </div>
  </div>
    <div class="side-image-content">
      <div class="grid-items">
  <a href="javascript:void(0)" class="grid-item grid-item-nausblog">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>NausBlog</h1>
    <p>The life of EverythingNaus.</p>
  </a>
  <a href="http://nausdesign.com" target="_blank" class="grid-item grid-item-big grid-item-nausdesign">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>NausDesign</h1>
    <p>Graphic Design and Web Development.</p>
  </a>
  <a href="fpv/index.html" class="grid-item grid-item-big grid-item-nausfpv">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>NausFPV</h1>
    <p>FPV, Drones, and More!</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-naustech">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>NausTech</h1>
    <p>Custom Built Computer and More.</p>
  </a>
  <a href="https://www.youtube.com/channel/UCohwqBxZSt3SipmY82ka8fQ/videos" class="grid-item grid-item-nausyoutube">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>Naus YouTube</h1>
    <p>Fun Videos with Naus.</p>
  </a>
  <a href="https://www.instagram.com/nausdesign/" class="grid-item grid-item-nausinstagram">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>Naus Instagram</h1>
    <p>Really Cool Pictures.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-naustwitter">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>Naus Twitter</h1>
    <p>Tweet Tweet.</p>
  </a>
    </div>
  </div>
</div>
