<section id="header">

<!-- Slide out Menu for site nav-->


<!-- END -->

<div class="side-image">
  <div class="images-wrapper">

  <h1>Everything Naus</h1>
  <h4>Welcome, My name is Chris and this site is deticated to my many intrest and hobbies!  Join me as I blog about growing up and still acting like a little kid in a toy store!</h4>

  </div>
    <div class="side-image-content">

      <div class="grid-items">
  <a href="javascript:void(0)" class="grid-item grid-item-nausblog">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>NausBlog</h1>
    <p>Blog updates on the life of EverythingNaus.</p>
  </a>
  <a href="http://nausdesign.com" target="_blank" class="grid-item grid-item-big grid-item-nausdesign">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>NausDesign</h1>
    <p>Graphic Design and Web Development.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-nausfpv">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>NausFPV</h1>
    <p>Me Juping Head First into FPV!</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-naustech">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>NausTech</h1>
    <p>Custom built computer.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-nausyoutube">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>Naus YouTube</h1>
    <p>Fun Videos with Naus.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-nausinstagram">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>Naus Instagram</h1>
    <p>Images into the life of Naus.</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-naustwitter">
    <img src="assets/img/ndlogo.png" alt="nausdesign logo">
    <h1>Naus Twitter</h1>
    <p>Tweet Tweet.</p>
  </a>
</div>

  </div>
</div>

</section>
